<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AleoWeb</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AleoWeb.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <div class="logo-img">
            <img class="Aleo-img" src="~/img/aleologo.png" />
        </div>
        <div class="Main-text">
            <h1 class="Main-txtS">The place where <br/> everything about Aleo</h1>
        </div>
        <div class="Second-text">
            <h1 class="Second-textS">All resources are here</h1>
        </div>
        <div class="Third-text">
            <h1 class="Third-textS">Go down a level</h1>
        </div>
        <div class="line-1">
            
        </div>
        <div class="main">
        </div>
    </header>
        <main role="main" class="pb-3">
            @RenderBody()
            <div class="text-center">
                <h1 class="info">
                    Information
                </h1>
            </div>
           
            <div class="st-4">
                <h1 class="st-4tx">SnarkOS is a decentralized operating <br /> system that provides an anonymous <br /> web application platform that verifies <br /> transactions and publicly stores applications <br /> in an encrypted state</h1>
            </div>
            <div class="st-1">
                <h1 class="st-1tx">Aleo is a unique open source, scalable <br />blockchain platform using zero-knowledge <br /> proof (ZK) technology</h1>
            </div>

            <div class="st-2">
                <h1 class="st-2tx">
                    Aleo is a kind of step into the world of <br />
                    a new basic level of cryptography for<br /> developers
                </h1>
            </div>
            <div class="st-3">
                <h1 class="st-3tx">
                    Leo is the programming language <br />
                    on which all applications in the <br />
                    Aleo ecosystem are built
                </h1>
            </div>
            <div class="st-5">
                <h1 class="st-5tx">
                    SnarkVM is the cryptographic core  <br />
                    of the Aleo model. We can say this <br />
                    is an analogue of the Ethereum <br />
                    virtual machine
                </h1>
            </div>
            <div class="line-2"></div>
            <div class="medium">
                <h1 class="medium-tx">Medium</h1>
            </div>  
            <div class="ee">
            <div class="div-4">
                <div class="aleopackagemanager">
                    <a href="https://clck.ru/33ZFWL"> <img class="aleopackagemanager-img" src="~/img/aleopackagemanager.png" /> </a>
                </div>
                <div class="aleostudio">
                    <a href="https://clck.ru/33ZFZA"><img class="aleostudio-img" src="~/img/aleostudio.png" /></a>
                </div>
                <div class="amba">
                    <a href="https://clck.ru/33ZFav">
                        <img class="amba-img" src="~/img/amba.png" />
                    </a>
                </div>
            </div>
            <div class="div-3">
                <div class="exp">
                    <a href="https://clck.ru/33ZFeH">
                        <img class="exp-img" src="~/img/explorer.png" />
                    </a>
                </div>
                <div class="doc">
                    <a href="https://clck.ru/33ZFh6">
                        <img class="doc-img" src="~/img/documents.png" />
                    </a>
                </div>
                <div class="hello">
                    <a href="https://clck.ru/33ZFiH">
                        <img class="hello-img" src="~/img/helloworld.png" />
                    </a>
                </div>
            </div>
            <div class="div-2">
                <div class="PoSW">
                    <a href="https://clck.ru/33ZFkh">
                        <img class="PoSW-img" src="~/img/posw.png" />
                    </a>
                </div>
                <div class="SharkOS">
                    <a href="https://clck.ru/33ZFnh">
                        <img class="SharkOS-img" src="~/img/snarkos.png" />
                    </a>
                </div>
                <div class="tech">
                    <a href="https://clck.ru/33ZFpM">
                        <img class="tech-img" src="~/img/tech.png" />
                    </a>
                </div>
            </div>
            <div class="div-1">
                <div class="ZkCloud">
                    <a href="https://clck.ru/33ZFqt">
                        <img class="ZkCloud-img" src="~/img/zkcloud.png" />
                    </a>
                </div>
                <div class="i228">
                    <a href="https://clck.ru/33ZFtd">
                        <img class="i228-img" src="~/img/228.png" />
                    </a>
                </div>
                <div class="wallet">
                    <a href="https://clck.ru/33ZG88">
                        <img class="wallet-img" src="~/img/aleoteam.png" />
                    </a>
                </div>
            </div>
            </div>
           
        <div class="line-3"></div>
    </main>
    <footer>
        <div class="foo">
            <div class="twitter">
                <a href="https://twitter.com/kurkovvokruk">
                    <img class="twitter-img" src="~/img/group 1 (2).png" />
                </a>
            </div>
            <div class="mediums">
                <a href="https://clck.ru/33ZGmX">
                    <img class="medium-img" src="~/img/medium.png" />
                </a>
            </div>
            <div class="git">
                <a href="https://github.com/kurk0v">
                    <img class="git-img" src="~/img/group 1 (1).png" />
                </a>
            </div>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
